.help-container {
    -fx-background-color: #0f1115;
}

.help-text-area {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #e3e9f2;
    -fx-background-color: #131821;
    -fx-border-color: #2a3b49;
    -fx-border-width: 1;
}

.help-text-area .content {
    -fx-background-color: #131821;
}
